snippet stcs ".c source template"
        /*--- Include files ---------------------------------------------------------------------*/
        #include "${1}.h"

        /*--- Private macros --------------------------------------------------------------------*/

        /*--- Private type definitions ----------------------------------------------------------*/

        /*--- Private function prototypes -------------------------------------------------------*/

        /*--- Public variables ------------------------------------------------------------------*/

        /*--- Private variables -----------------------------------------------------------------*/

        /*--- Public functions ------------------------------------------------------------------*/

        /*--- Private functions -----------------------------------------------------------------*/

snippet stch ".h header template"
        #ifndef ${1}_H
        #define $1_H
        $0
        /*--- Include files ---------------------------------------------------------------------*/

        /*--- Public macros ---------------------------------------------------------------------*/

        /*--- Public type definitions -----------------------------------------------------------*/

        /*--- Public variables ------------------------------------------------------------------*/

        /*--- Public function prototypes --------------------------------------------------------*/

        #endif /* $1_H */

snippet /** "Doxygen style comment template"
        /**
         * Name:                $0TBD
         * Function:    TBD
         */
